<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>job scrapper</title>
</head>
<body class="index">
    <main class="container">
        <h1>Job Scrapper</h1>
        <form action="/result">
            <div class="search">
                <input type="text" name="term" placeholder="What keyword do you want to search?" />
                <button id="searchbtn">Search</button>
            </div>
        </form>
    </main>
</body>
</html>